Repository nentangso/nts-saas, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: CI Builds, theme: dependencies, theme: nts-saas-framework

.github/labeler.yml:

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - pom.xml
  - '**/pom.xml'

'theme: nts-saas-framework':
  - 'nts-saas-framework-parent/**'

skip gpg on build ci
  .github/workflows/publish-with-maven.yml
Labels: theme: CI Builds

Fix typo
  .github/workflows/publish-with-maven.yml
Labels: theme: CI Builds

Fix build warning
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsGlobalIdUtils.java
  nts-saas-framework-parent/nts-saas-web-metafield/src/main/java/org/nentangso/core/service/dto/MetafieldDTO.java
  nts-saas-framework-parent/nts-saas-web-metafield/src/main/java/org/nentangso/core/web/rest/AbstractMetafieldResource.java
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare release v1.0.2
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Correct Serializable and @SuppressWarnings
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/DomainValidationException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/FormValidateException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/NotFoundException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/BadRequestAlertException.java
  nts-saas-framework-parent/nts-saas-helper-outbox-event/src/main/java/org/nentangso/core/domain/OutboxEventEntity.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/dto/AdminUserDTO.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/dto/UserDTO.java
  nts-saas-framework-parent/nts-saas-security-user/src/main/java/org/nentangso/core/service/dto/AdminUserDTO.java
  nts-saas-framework-parent/nts-saas-security-user/src/main/java/org/nentangso/core/service/dto/UserDTO.java
  nts-saas-framework-parent/nts-saas-web-metafield/src/main/java/org/nentangso/core/domain/MetafieldEntity.java
Labels: theme: nts-saas-framework

add NtsCRLFLogConverter
  nts-saas-framework-parent/nts-saas-web-core/src/main/java/org/nentangso/core/config/NtsCRLFLogConverter.java
Labels: theme: nts-saas-framework

Update spring-boot to v2.7.3
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Correct UserRepository#deleteUserAuthorities
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/repository/UserRepository.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.0.3
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Improve NtsTextUtils#unaccentVietnamese
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsTextUtils.java
  nts-saas-framework-parent/nts-saas-utils/src/test/java/org/nentangso/core/service/utils/NtsTextUtilsTests.java
Labels: theme: dependencies, theme: nts-saas-framework

Correct maven relativePath
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Improve NtsDateTimeUtils#greatest and add NtsDateTimeUtils#least
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsDateTimeUtils.java
  nts-saas-framework-parent/nts-saas-utils/src/test/java/org/nentangso/core/service/utils/NtsDateTimeUtilsTests.java
Labels: theme: nts-saas-framework

Improve NtsNumberUtils#parseToDecimal
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsNumberUtils.java
  nts-saas-framework-parent/nts-saas-utils/src/test/java/org/nentangso/core/service/utils/NtsNumberUtilsTests.java
Labels: theme: nts-saas-framework

Add `@InlineMe` for replacement
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsDateTimeUtils.java
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsTextUtils.java
Labels: theme: nts-saas-framework

Add more exception class
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/EmailAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/InvalidPasswordException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/LoginAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/NtsErrorConstants.java
Labels: theme: nts-saas-framework

Upgrade exception translator
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/FormValidateException.java
  nts-saas-framework-parent/nts-saas-web-core/src/main/java/org/nentangso/core/web/rest/errors/NtsErrors.java
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
Labels: theme: dependencies, theme: nts-saas-framework

Improve exception handling
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
Labels: theme: nts-saas-framework

Improve exception handling (#34)
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/FormValidateException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/EmailAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/InvalidPasswordException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/LoginAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/NtsErrorConstants.java
  nts-saas-framework-parent/nts-saas-web-core/src/main/java/org/nentangso/core/web/rest/errors/NtsErrors.java
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
Labels: theme: dependencies, theme: nts-saas-framework

Add authentication header www-authentication
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
Labels: theme: nts-saas-framework

Active exception translator by default
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
Labels: theme: nts-saas-framework

Improve exception handling
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/DomainValidationException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/FormValidationException.java
  nts-saas-framework-parent/nts-saas-helper-option/src/main/java/org/nentangso/core/service/helper/NtsOptionHelper.java
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsValidationUtils.java
  nts-saas-framework-parent/nts-saas-web-core/src/main/java/org/nentangso/core/web/rest/errors/NtsErrors.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/ResponseEntityExceptionHandler.java
Labels: theme: nts-saas-framework

Add integration test for exception handling
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/errors/NotFoundException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/NtsErrorConstants.java
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/config/NtsJacksonConfiguration.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-web/src/test/java/org/nentangso/core/NtsSaasApplication.java
  nts-saas-framework-parent/nts-saas-web/src/test/java/org/nentangso/core/web/rest/errors/ExceptionTranslatorIT.java
  nts-saas-framework-parent/nts-saas-web/src/test/java/org/nentangso/core/web/rest/errors/ExceptionTranslatorTestController.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.0
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Make zalando optional
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/BadRequestAlertException.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/web/rest/errors/InvalidPasswordException.java
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/config/NtsJacksonConfiguration.java
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Rename user service
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/NtsUserService.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/web/rest/NtsPublicUserResource.java
  nts-saas-framework-parent/nts-saas-security-user/src/main/java/org/nentangso/core/service/NtsUserService.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.1
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add security helper
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/NtsSecurityHelper.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/SecurityUtils.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/NtsSecurityHelper.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/SecurityUtils.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.2
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Remove org.zalando/problem-spring
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/config/NtsJacksonConfiguration.java
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/config/NtsJacksonConfiguration.java
Labels: theme: dependencies, theme: nts-saas-framework

Fix exception translator webflux
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/ResponseEntityExceptionHandler.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.3
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add security tests
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/NtsSecurityHelper.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/test/java/org/nentangso/core/security/SecurityUtilsUnitTest.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/test/java/org/nentangso/core/security/oauth2/AudienceValidatorTest.java
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/NtsSecurityHelper.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/test/java/org/nentangso/core/security/SecurityUtilsUnitTest.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/test/java/org/nentangso/core/security/oauth2/AudienceValidatorTest.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/test/java/org/nentangso/core/security/oauth2/AuthorizationHeaderUtilTest.java
  nts-saas-framework-parent/nts-saas-web/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add @Lob to NtsOutboxEventEntity
  nts-saas-framework-parent/nts-saas-helper-outbox-event/src/main/java/org/nentangso/core/domain/NtsOutboxEventEntity.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.4
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework
