Repository nentangso/nts-saas, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: CI Builds, theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add @AuthorizedFeignClient
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/client/AuthorizedFeignClient.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/client/OAuth2InterceptedFeignConfiguration.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/client/TokenRelayRequestInterceptor.java
Labels: theme: dependencies, theme: nts-saas-framework

get location ids from token
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/NtsUserService.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/dto/NtsAdminUserDTO.java
Labels: theme: nts-saas-framework

Add exception translator
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/client/TokenRelayRequestInterceptor.java
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
Labels: theme: dependencies, theme: nts-saas-framework

Add location helper
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/.editorconfig
  nts-saas-framework-parent/nts-saas-helper-location-webflux/.gitattributes
  nts-saas-framework-parent/nts-saas-helper-location-webflux/.gitignore
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/src/main/java/org/nentangso/core/service/helper/NtsLocationHelper.java
  nts-saas-framework-parent/nts-saas-helper-location/.editorconfig
  nts-saas-framework-parent/nts-saas-helper-location/.gitattributes
  nts-saas-framework-parent/nts-saas-helper-location/.gitignore
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/client/NtsKeycloakClient.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/client/NtsKeycloakFeignConfiguration.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/client/NtsKeycloakRequestInterceptor.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/client/vm/KeycloakClientRole.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/config/NtsKeycloakLocationProperties.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/dto/LocationAddressDTO.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/dto/LocationDTO.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/helper/NtsLocationHelper.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/provider/NtsKeycloakLocationProvider.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/provider/NtsLocationProvider.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/provider/NtsLocationProviderFactory.java
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Correct version
  pom.xml
Labels: theme: dependencies

[maven-release-plugin] prepare release v1.1.5
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Verify locations use Bitset
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/helper/NtsLocationHelper.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/provider/NtsKeycloakLocationProvider.java
  nts-saas-framework-parent/nts-saas-helper-location/src/main/java/org/nentangso/core/service/provider/NtsLocationProvider.java
Labels: theme: nts-saas-framework

Correct version nts-saas-helper-location
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.6
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add AuthorizationHeaderUtil to webflux
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/oauth2/AuthorizationHeaderUtil.java
Labels: theme: dependencies, theme: nts-saas-framework

Refactor DTO
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/dto/LocationAddressDTO.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/dto/LocationDTO.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/dto/NtsAdminUserDTO.java
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/dto/NtsUserDTO.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/NtsUserService.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/dto/package-info.java
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/src/main/java/org/nentangso/core/service/dto/NtsAdminUserDTO.java
  nts-saas-framework-parent/nts-saas-security-user/src/main/java/org/nentangso/core/service/dto/NtsUserDTO.java
  nts-saas-framework-parent/nts-saas-security-user/src/main/java/org/nentangso/core/service/dto/package-info.java
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.7
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add user mapper tests
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/test/java/org/nentangso/core/service/mapper/NtsUserMapperTest.java
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/src/test/java/org/nentangso/core/service/mapper/NtsUserMapperTest.java
Labels: theme: dependencies, theme: nts-saas-framework

rename nts_user_authority to nts_user_authorities
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/repository/NtsUserRepository.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.8
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add repo feign client
  nts-saas-framework-parent/nts-saas-client/.editorconfig
  nts-saas-framework-parent/nts-saas-client/.gitattributes
  nts-saas-framework-parent/nts-saas-client/.gitignore
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-client/src/main/java/org/nentangso/core/client/NtsAuthorizedFeignClient.java
  nts-saas-framework-parent/nts-saas-client/src/main/java/org/nentangso/core/client/NtsClientCredentialsInterceptedFeignConfiguration.java
  nts-saas-framework-parent/nts-saas-client/src/main/java/org/nentangso/core/client/NtsClientCredentialsRequestInterceptor.java
  nts-saas-framework-parent/nts-saas-client/src/main/java/org/nentangso/core/client/NtsCookieRelayInterceptedFeignConfiguration.java
  nts-saas-framework-parent/nts-saas-client/src/main/java/org/nentangso/core/client/NtsTokenRelayInterceptedFeignConfiguration.java
  nts-saas-framework-parent/nts-saas-client/src/main/java/org/nentangso/core/client/NtsUserCookieRelayFeignClient.java
  nts-saas-framework-parent/nts-saas-client/src/main/java/org/nentangso/core/client/NtsUserTokenRelayFeignClient.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/client/OAuth2InterceptedFeignConfiguration.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/client/TokenRelayRequestInterceptor.java
  nts-saas-framework-parent/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add more fields to public user api
  nts-saas-framework-parent/nts-saas-core/src/main/java/org/nentangso/core/service/dto/NtsUserDTO.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/mapper/NtsUserMapper.java
Labels: theme: nts-saas-framework

Refactor SecurityUtils
  nts-saas-framework-parent/nts-saas-helper-outbox-event/src/main/java/org/nentangso/core/service/helper/NtsOutboxEventHelper.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/NtsSecurityUtils.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/SecurityUtils.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/oauth2/JwtGrantedAuthorityConverter.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/test/java/org/nentangso/core/security/NtsSecurityUtilsUnitTest.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/NtsSecurityUtils.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/NtsSpringSecurityAuditorAware.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/SecurityUtils.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/oauth2/JwtGrantedAuthorityConverter.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/test/java/org/nentangso/core/security/NtsSecurityUtilsUnitTest.java
  nts-saas-framework-parent/nts-saas-security-user-webflux/src/main/java/org/nentangso/core/service/NtsUserService.java
  nts-saas-framework-parent/nts-saas-security-user/src/main/java/org/nentangso/core/service/NtsUserService.java
Labels: theme: nts-saas-framework

Add NtsSecurityUtils.getCurrentUserDisplayName
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/main/java/org/nentangso/core/security/NtsSecurityUtils.java
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/src/test/java/org/nentangso/core/security/NtsSecurityUtilsUnitTest.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/main/java/org/nentangso/core/security/NtsSecurityUtils.java
  nts-saas-framework-parent/nts-saas-security-oauth2/src/test/java/org/nentangso/core/security/NtsSecurityUtilsUnitTest.java
Labels: theme: nts-saas-framework

Correct version
  nts-saas-framework-parent/nts-saas-client/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.9
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Fix NtsRequestUtils.getBody
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/utils/NtsRequestUtils.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.10
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add NtsJsonUtils
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsJsonUtils.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.11
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Add NtsCollectionUtils.chunks
  nts-saas-framework-parent/nts-saas-utils/src/main/java/org/nentangso/core/service/utils/NtsCollectionUtils.java
Labels: theme: nts-saas-framework

[maven-release-plugin] prepare release v1.1.12
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

[maven-release-plugin] prepare for next development iteration
  nts-saas-framework-parent/nts-saas-annotations/pom.xml
  nts-saas-framework-parent/nts-saas-client/pom.xml
  nts-saas-framework-parent/nts-saas-core/pom.xml
  nts-saas-framework-parent/nts-saas-data-jpa/pom.xml
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-helper-location/pom.xml
  nts-saas-framework-parent/nts-saas-helper-note/pom.xml
  nts-saas-framework-parent/nts-saas-helper-option/pom.xml
  nts-saas-framework-parent/nts-saas-helper-outbox-event/pom.xml
  nts-saas-framework-parent/nts-saas-helper-tags/pom.xml
  nts-saas-framework-parent/nts-saas-helper/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-oauth2/pom.xml
  nts-saas-framework-parent/nts-saas-security-user-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-security-user/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-utils/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web-metafield/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Refactor exception translator
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/BadRequestAlertException.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/EmailAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/InvalidPasswordException.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/LoginAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsErrorConstants.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-web/src/main/java/org/nentangso/core/web/rest/errors/NtsProblem.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/BadRequestAlertException.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/EmailAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/InvalidPasswordException.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/LoginAlreadyUsedException.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsErrorConstants.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsExceptionTranslator.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/NtsProblem.java
  nts-saas-framework-parent/nts-saas-webflux/src/main/java/org/nentangso/core/web/rest/errors/ResponseEntityExceptionHandler.java
Labels: theme: dependencies, theme: nts-saas-framework

Update readme
  README.md
Labels: none

Correct problem-spring-webflux
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

Create next development version
  nts-saas-framework-parent/nts-saas-dependencies/pom.xml
  nts-saas-framework-parent/nts-saas-starter-web/pom.xml
  nts-saas-framework-parent/nts-saas-starter-webflux/pom.xml
  nts-saas-framework-parent/nts-saas-web-core/pom.xml
  nts-saas-framework-parent/nts-saas-web/pom.xml
  nts-saas-framework-parent/nts-saas-webflux/pom.xml
  nts-saas-framework-parent/pom.xml
  pom.xml
Labels: theme: dependencies, theme: nts-saas-framework

.github/labeler.yml:

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - pom.xml
  - '**/pom.xml'

'theme: nts-saas-framework':
  - 'nts-saas-framework-parent/**'
